{# Ligne de facture #}
<div class="document-row">
    <div class="document-icon">
        <span class="document-icon-label">📝</span>
    </div>
    <div class="document-details">
        <h3 class="document-title">Facture {{ facture.numero_facture }}</h3>
        <p class="document-meta">
            {{ facture.destination }} | {{ facture.date_emission|date('d/m/Y') }} | {{ facture.montant_total|number_format(2, '.', ' ') }} €
        </p>
    </div>
    <span class="status-badge status-success">{{ facture.statut }}</span>
    <a href="/factures/{{ facture.id }}/preview" target="_blank" class="card-button card-button-outline">Consulter</a>
</div>
